<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="/style.css" />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="og:author" content="{{ .Site.Params.author }}">
		<meta name="og:description" content="{{ .Site.Params.description }}">
		<meta name="og:image" content="/avatar.png">
	</head>

	<body>
		<aside class="sidebar">
			<div class="author">
				<a href="{{ .Site.BaseURL }}">
					<img class="avatar" src="/avatar.png" />
					<h2>{{ .Site.Params.author }}</h2>
				</a>
				<p>{{ .Site.Params.description }}</p>
			</div>
			<div class="treenav">
				<h3><a href="{{ .Site.BaseURL }}">Sections</a></h3>
				{{ with .Site.GetPage "/" }}
				<ul>
					{{ range .Sections }}
						{{ template "treenode" . }}
					{{ end }}

				</ul>
				{{ end }}
			</div>
		</aside>

{{ define "treenode" }}
<li>
	<a class="section" href="{{ .Permalink }}">{{ .Title }}</a>
	<ul>
		{{ range .Pages }}
			{{ if .Pages }}
				{{ template "treenode" . }}
			{{ else }}
			<li>
				<a	{{ if .Pages }} class="section" {{ end }}
					href="{{ .Permalink }}">{{ .Title }}</a>
			</li>
			{{ end }}
		{{ end }}
	</ul>
</li>
{{ end }}

