<main class="page">
	<header><h1>{{ .title }}</h1></header>
	<div class="articles">
		{{ range .pager.Pages }}
			{{ if not .Pages }}
			<article class="article">
				<header>
					<h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
					<p>{{.Lastmod.Format "01/02/2006 03:04 PM"}}</p>
				</header>
				<p class="summary">
					{{ .Summary }}
				</p>
			</article>
			{{ end }}
		{{ end }}

		{{ if gt .pager.TotalPages 1 }}
		<div class="paginator">
			{{ if ne .pager.PageNumber 1 }}
			<a href="{{.pager.First.URL}}" class="page first">«</a>
			{{ end }}

			{{ if .pager.HasPrev }}
			<a href="{{.pager.Prev.URL}}" class="page prev">‹</a>
			{{ end }}

			{{ $min := 0 }}
			{{ $max := 0 }}

			{{ $min := (sub .pager.PageNumber 2) }}
			{{ if lt $min 1 }}
				{{ $min = 1 }}
			{{ end }}

			{{ $max := (add .pager.PageNumber 2) }}
			{{ if gt $max .pager.TotalPages }}
				{{ $max = .pager.TotalPages }}
			{{ end }}

			{{ range .pager.Pagers }}
				{{ if (and (ge .PageNumber $min) (le .PageNumber $max)) }}
				<a href="{{.URL}}" 
				   class="page {{if eq .PageNumber $.pager.PageNumber}} active {{ end }}">
						{{.PageNumber}}
				</a>
				{{ end }}
			{{ end }}

			{{ if .pager.HasNext }}
			<a href="{{.pager.Next.URL}}" class="page next">›</a>
			{{ end }}

			{{ if ne .pager.PageNumber .pager.TotalPages }}
			<a href="{{.pager.Last.URL}}" class="page last">»</a>
			{{ end }}
		</div>
		{{ end }}
	</div>
</main>

